In [1]:
nome = 'Felicty'
nome2 = "Felicty"

print(nome)
print(nome2)

Felicty
Felicty

In [2]:
a = 28
print(a)

28

In [3]:
print(type(nome))
print(type(a))

<class 'str'>
<class 'int'>

In [4]:
b = 1.333
print(b)
print(type(b))

1.333
<class 'float'>

In [5]:
print('Olá mundo!')

Olá mundo!

In [6]:
print(a + b)

29.333

In [7]:
idade = 28

In [8]:
profissao = 'Analista de Dados'

In [9]:
print(nome + ' tem ' + str(idade) + ' anos e trabalha como ' + profissao)

Felicty tem 28 anos e trabalha como Analista de Dados

In [10]:
print(nome + ' é uma ' + profissao)

Felicty é uma Analista de Dados

In [11]:
print(type(nome))
print(type(profissao))

<class 'str'>
<class 'str'>

In [12]:
idade_str = str(idade)

In [13]:
print(type(idade_str))

<class 'str'>

In [14]:
print('{} tem {}.'.format(nome, idade))

Felicty tem 28.

In [15]:
print(f'{nome} tem {idade} anos e trabalha como {profissao}.')

Felicty tem 28 anos e trabalha como Analista de Dados.

In [16]:
print(type(idade))

<class 'int'>